.App {
  font-family: sans-serif;
  font-size: 1.5em;
}

:root {
  --main-color: #44637f;
}

body {
  background-color: var(--main-color);
}

.main {
  margin: 0 auto;
  width: 700px;
  height: 100vh;
  background-color: var(--main-color);
  padding: 10px 20px;
}

.tab-item {
  background-color: var(--main-color);
  color: white;
  border: 2px solid white;
}
.react-tabs__tab-list {
  border-bottom: 2px solid #e2e2e2 !important;
}
.react-tabs__tab {
  border-bottom: 2px solid #e2e2e2 !important;
  bottom: -2px !important;
}
.react-tabs__tab--selected {
  border-bottom: 2px solid var(--main-color) !important;
}